<form id="formulario">
    <label for="password">Ingresa tu password</label>
    <input type="password" class="form-control" id="password" placeholder="Ingrese password">
    <label for="verification">Confirma</label>
    <input type="password" class="form-control" id="verification" placeholder="Reingrese password">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<script src="/js/actualizar.js"></script>