<h2>Chat Usuarios</h2>
<div id="products-container" class="d-flex flex-column"></div>

<form id="formulario">
    
    <input type="text" class="form-control" id="category" placeholder="Escribe tu mensaje">

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<script src='/socket.io/socket.io.js'></script>
<script src="/js/chat.js"></script>