<h2>Agregar Producto</h2>
<form id="formulario">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Ingrese Email">
    <label for="contrase単a">Contrase単a</label>
    <input type="password" class="form-control" id="contrase単a" placeholder="Ingrese contrase単a">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
    <button onclick="location.href='/api/sessions/signup/github'" class=" mt-2 btn btn-primary">SignUP/SignIn Github</button>

<a class="nav-link" href="http://localhost:8080/registro">Registrese aca</a>

<div id="products-container" class="d-flex"></div>
<script src="/js/login.js"></script>